{% extends 'MyGIS/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
{% comment %}    <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>{% endcomment %}
    {% for article in articles %}
{% comment %}        <h2> {{article.title}}</h2>
        <p>{{article.text}}</p>{% endcomment %}
        <h2>{{article.title}}</h2>
        <p> {{article.get_short_text}}</p>
    {% endfor %}
{% endblock %}
